<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Disponibilidade - Reserva de Salas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/default.css}">
    </head>
    <body>
        <div id="header">
            <h1>Disponibilidade</h1>
            <h2><span>Negócios S/A</span> - Reserva de Salas</h2>
        </div>

        <div id="badAlerts">
            <span th:text="${error}"></span>
        </div>

        <div id="container">
            <div id="inner">
                <div id="content">

                    <h1>Escolha a sala que deseja reservar:</h1>
                    
                    <form action="#"
                        method="post"
                        th:action="@{/reserva/sala}"
                        th:object="${reserva}">

                        <div id="inputLine">
                            <label>Sala</label>
                            <select id="sala" name="sala" th:field="*{idSala}">
                                <option th:each="sala : ${salasDisponiveis}"
                                    th:value="${sala.id}"
                                    th:text="${sala.nome}">
                                </option>
                            </select>
                        </div>

                        <div id="inputLine">
                            <label>CPF</label>
                            <input class="text" type="text" th:name="cpfUsuario" th:value="${disponibilidade.cpf}" readonly/>
                        </div>
                        
                        <div id="inputLine">
                            <label>Dia e Hora</label>
                            <input class="text" type="text" th:name="dia" th:value="${disponibilidade.dia}" readonly/>
                            <input class="text" type="text" th:name="hora" th:value="${disponibilidade.hora}" readonly/>
                        </div>

                        <div id="inputLine">
                            <input class="button" type="submit" value="Reservar"></button>
                        </div>

                    </form>

                    <p>Esta são as salas disponíveis para o dia e hora solicitados, com capacidade para atender todos os participantes:</p>

                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Capacidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="salasDisponiveis : ${salasDisponiveis}">
                                <td th:text="${salasDisponiveis.nome}"></td>
                                <td th:text="${salasDisponiveis.capacidade}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div id="footer">
            <p>Negócios S/A</p>
        </div>
    </body>
</html>
