<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Error - Reserva de Salas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/default.css}">
    </head>
    <body>
        <div id="header">
            <h1>Error</h1>
            <h2><span>Negócios S/A</span> - Reserva de Salas</h2>
        </div>

        <div id="container">
            <div id="inner">
                <div id="content">
                    <h1>Houve um erro na sua requisição, entre em contato com o TI.</h1>
                </div>
            </div>
        </div>
        
        <div id="footer">
            <p>Negócios S/A</p>
        </div>
        
    </body>
</html>