<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Minhas Reservas - Reserva de Salas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/default.css">
    </head>
    <body>
        <div id="header">
            <h1>Minhas Reservas</h1>
            <h2><span>Negócios S/A</span> - Reserva de Salas</h2>
        </div>
        
        <div id="badAlerts">
            <span th:text="${error}"></span>
        </div>
        <div id="goodAlerts">
            <span th:text="${param.success}"></span>
        </div>

        <div id="container">
            <div id="inner">
                <div id="content">
                    <h1><strong th:text="${usuario.nome}"></strong>, suas reservas são:</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>Dia</th>
                                <th>Hora</th>
                                <th>Sala</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="reserva : ${reservas}">
                                <td th:text="${reserva.dia}"></td>
                                <td th:text="${reserva.hora}"></td>
                                <th:block th:with="check=${reserva.idSala}">
                                    <td th:text="${salas.^[id == #root.check].nome}"></td>
                                </th:block>
                                <td>
                                    <form th:action="@{/reserva/remover/{id}(id = ${reserva.id})}" th:method="Delete" th:object="${reserva}">
                                        <button class="button" type="submit">Remover</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h1>Informações do Usuário</h1>
                    <p>Por favor, mantenha seus dados atualizados para que possamos encontrá-lo.</p>
                    <form action="#" 
                        th:method="PUT" 
                        th:action="@{/usuario/atualizar/{cpf}(cpf = ${usuario.cpf})}"
                        th:object="${usuario}">

                        <input type="hidden" name="cpf" th:field="*{cpf}"/>
                        
                        <div id="inputLine">
                            <label>Nome</label>
                            <input class="text" type="text" name="nome" th:field="*{nome}">
                        </div>

                        <div id="inputLine">
                            <label>Contato</label>
                            <input class="text" type="text" name="contato" th:field="*{contato}">
                        </div>

                        <div id="inputLine">
                            <input class="button" type="submit" value="Atualizar">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>Negócios S/A</p>
        </div>
        
    </body>
</html>